#include "resource.h"

1 MANIFEST "1.manifest"
IDI_MYAPP_ICON          ICON                    "icon.ico"
IDB_PICTURE BITMAP DISCARDABLE "11.bmp"

IDR_MYSTUPIDMENU MENU
BEGIN
    POPUP "Stuff"
    BEGIN
        MENUITEM "About", ID_STUFF_ABOUT
        MENUITEM "Exit", ID_STUFF_EXIT
        MENUITEM "My Github", ID_STUFF_GITHUB
        MENUITEM "My YouTube", ID_STUFF_UTUB
        MENUITEM "My Site", ID_STUFF_SITE
    END
END